---
layout: base
title: Andrew Lanin
---

<style type="text/css">{% include index.css %}</style>

<p>
    Hey! I'm Andrew, software developer interested in programming languages, development tools, engineering efficiency and programms correctness.
</p>

{% for post in site.posts %}
<div class="post-preview">
  <a class="title-link" href="{{ post.url }}">
    <h3>{{ post.title }}</h3>
  </a>
  <div class="subtitle">
    <span class="date">{{ post.date | date: '%Y-%m-%d' }}</span>
    {% for tag in post.tags %}
    <span class="tag">{{ tag }}</span>
    {% endfor %}
  </div>

  <p>{{ post.excerpt }}</p>
  <p><a href="{{ post.url }}">Read more...</a></p>
</div>
{% endfor %}
