html {
  color: #333;
}

body {
  margin: 0 auto;
  padding: 10px;
  max-width: 720px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.1em;
  line-height: 150%;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

footer {
  margin-top: 50px;
  margin-bottom: 10px;
  color: gray;
}

p {
  margin-top: 30px;
}
