body {
  margin: 0 auto;
  padding: 10px;
  max-width: 720px;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 150%;
  color: #000;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav a, nav span {
  margin-left: 10px;
}

.shelf {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.shelf > a {
  line-height: 0;
}

.shelf > * {
  margin-right: 10px;
}

article p {
  margin-top: 30px;
}

blockquote {
  margin-left: 0;
  margin-right: 0;
  padding-left: 20px;
  border-left: 3px solid gray;
}
