h1,h2,h3,h4,h5,h6 {
  font-size: 110%;
  margin-top: 30px;
  font-weight: normal;
  color: black;
}

h1::before { color: gray; content: '# '; }
h2::before { color: gray; content: '## '; }
h3::before { color: gray; content: '### '; }
h4::before { color: gray; content: '#### '; }
h5::before { color: gray; content: '##### '; }
h6::before { color: gray; content: '###### '; }

em::before, em::after { content: '*'; color: gray; }
strong::before, strong::after { content: '**'; color: gray; }

a { text-decoration: none; }
a::before { content: '['; color: gray; }
a::after { content: ']'; color: gray; }
