---
---
<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }} | Andrew Lanin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style type="text/css">{% include normalize.css %}</style>
    <style type="text/css">{% include base.css %}</style>
  </head>
  <body>
    <nav>
      Andrew Lanin
      <span>|</span>
      <a href="/">Home</a>
      <a href="/feed.xml">RSS</i></a>
      <a href="mailto:andrew@lanin.dev">Email</a>
      <a href="https://github.com/lanindev" target="_blank">Github</a>
      <a href="https://www.linkedin.com/in/andrew-lanin-1b8b8774/" target="_blank">LinkedIn</a>
    </nav>
    {{ content }}
  </body>
</html>
