---
---
<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style type="text/css">{% include normalize.css %}</style>
    <style type="text/css">{% include markdown.css %}</style>
    <style type="text/css">{% include base.css %}</style>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
    <nav>
      <img class="avatar" src="/assets/avatar.jpg" />
      <div class="links">
        <a class="link" href="/">Home</a>
        <a class="link" href="/blog">Blog</a>
        <a class="link" href="/projects">Projects</a>
        <a class="link" href="#footer">Contacts</a>
      </div>
    </nav>
    {{ content }}
    <footer id="footer">
      © Andrew Lanin, 2019
      <a class="link" href="/feed.xml"><i class="fas fa-rss"></i></a>
      <a class="link" href="mailto:andrew@lanin.dev"><i class="fas fa-envelope"></i></a>
      <a class="link" href="https://twitter.com/lanindev"><i class="fab fa-twitter"></i></a>
      <a class="link" href="https://github.com/lanindev"><i class="fab fa-github"></i></a>
    </footer>
</body>
</html>
